@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="flex flex-col h-screen">

    <!-- Main Content -->
    <article class="flex-grow overflow-auto">
        @Body
    </article>

    <!-- Include NavMenu if not on Signin or Signup pages -->
    @if (!Navigation.Uri.EndsWith("/signin") && !Navigation.Uri.EndsWith("/signup"))
    {
        <NavMenu />
    }
</div>
