@using DatingApp.Models
@inject DatingApp.Services.UserService UserService


<div class="bg-gray-800 text-white p-3 fixed inset-x-0 bottom-0 flex justify-around shadow-lg">
    <NavLink class="flex flex-col items-center text-white hover:text-indigo-300 transition duration-200" href="@($"/profile/{UserService.Id}")">
        <i class="fas fa-user text-2xl"></i>
        <span class="text-xs block mt-1">Profile</span>
    </NavLink>
    <NavLink class="flex flex-col items-center text-white hover:text-indigo-300 transition duration-200" href="@($"/explore/{UserService.Id}")">
        <i class="fas fa-search text-2xl"></i>
        <span class="text-xs block mt-1">Explore</span>
    </NavLink>
    <NavLink class="flex flex-col items-center text-white hover:text-indigo-300 transition duration-200" href="@($"/Matches/{UserService.Id}")">
        <i class="fas fa-envelope text-2xl"></i>
        <span class="text-xs block mt-1">Matches</span>
    </NavLink>
    <NavLink class="flex flex-col items-center text-white hover:text-indigo-300 transition duration-200" href="@($"/settings/{UserService.Id}")">
        <i class="fas fa-cog text-2xl"></i>
        <span class="text-xs block mt-1">Settings</span>
    </NavLink>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
